@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
.navbar{
    div{
        
        .res{
            height: 40px;
            width: 45px;
            border: 1px solid #fff;
            cursor: pointer;
            position: fixed;
            left: 250px;
            top: 20px;
            border-radius: 5px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
            z-index: 3;
            span{
                height: 2px;
                width: 18px;
                background: #EC1839;
                display: inline-block;
                position: relative;
                &::after{
                    content: '';
                    height: 2px;
                    width: 18px;
                    background: #EC1839;
                    position: absolute;
                    top: 6px;
                    left: 0;
                }
                &::before{
                    content: '';
                    height: 2px;
                    width: 18px;
                    background: #EC1839;
                    position: absolute;
                    top: -6px;
                    left: 0;
                }
            }
        }
        aside{
            position: fixed;
            height: 100vh;
            padding: 60px 40px;
            background-color: #fff;
            z-index: 2;
            .tip{
                font-size: 25px;
                letter-spacing: 5px;
                position: relative;
                font-weight: 600;
                padding: 15px 20px;
                color: #302E4D;
                span{
                    font-family: 'Clicker Script', cursive;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-bottom: 5px solid #EC1839;
                    border-left: 5px solid #EC1839;
                    bottom: 0;
                    left: 0;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-top: 5px solid #EC1839;
                    border-right: 5px solid #EC1839;
                    top: 0;
                    right: 0;
                }
        
            }
            nav{
                margin-top: 50px;
                padding: 0 20px;
                ul{
                    li{
                        a{
                            font-size: 18px;
                            position: relative;
                            color: #302E4D;
                            &:hover{
                                color: #EC1839;
                            }
                            &::before{
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 2px;
                                border-bottom: 1px solid #7777;
                                bottom: 0;
                                left: 0;
        
                            }
                            img{
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
        main{
            padding-top: 70px;
            padding-bottom: 40px;
            background-color: #F2F2FC;
        }
    }

}
@media(max-width: 1024px){
    .navbar{
        div{
            .res{
                left: 30px;
            }
            aside{
                padding: 0 !important;
                width: 100px !important;
           
                .tip{
                    display: none;
            
                }
                nav{
                    text-align: center;
                    
                    ul{
                        li{
                            a{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                h1{
                                    display: none;
                                }
                                img{
                                    margin-right: 0px !important;
                                }
                            }
                        }
                    }
                }
            }
            
            
        }
    }
}
@media(max-width: 510px){
    .navbar{
        div{
            .res{
                left: 30px;
            }
            aside{
                bottom: 0;
                height: 50px !important;
                width: 100% !important;
                
                nav{
                    margin: 0 !important;
                    bottom: 0;    
                    padding: 0 !important;   

                    ul{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 !important;                

                        li{
                            a{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                h1{
                                    display: none;
                                }
                                img{
                                    margin-right: 0px !important;
                                }
                            }
                        }
                    }
                }
            }
            
            
        }
    }
}